@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #ff7b00;
  --color-bg-custom: #fcf5ef;
  --color-text-custom: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-primary);
  --color-bg-custom: var(--color-bg-custom);
  --color-text-custom: var(--color-text-custom);
}

body {
  background: var(--color-bg-custom);
  color: var(--color-text-custom);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
